* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    height: 120vh;
}

header {
    width: 100%;
    height: 50px;
}

.buttons {
    float: right;
}

.button_header {
    background-color: grey;
    padding: 5px;
    border-radius: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.members {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mike img {
    width: 200px;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
}

.mike {
    position: relative;
}

.mike span {
    color: white;
    position: absolute;
    display: block;
    bottom: 15px;
    left: 5px;
    background-color: rgba(128,128,128,0.7);
    padding: 5px;
    border-radius: 7px;
}